<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:p="http://www.springframework.org/schema/p" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 读取jdbc的配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	
	<!-- JNDI获取数据源（dbcp连接池）singleton:为单例模式 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" scope="singleton">
		<property name="driverClassName" value="${driver}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${user}"/>
		<property name="password" value="${password}"/>
		<property name="initialSize" value="${initialSize}"/>
		<property name="maxActive" value="${maxActive}"/>
		<property name="maxIdle" value="${maxIdle}"/> <!-- 最大空闲数 -->
		<property name="minIdle" value="${minIdle}"/>
		<property name="maxWait" value="${maxWait}"/><!-- 最大等待时间，单位：ms；超过会抛异常 -->
		<!-- 当前的空闲连接数<2 && 当前活动数>最大活动数-3 -->
		<property name="removeAbandoned" value="${removeAbandoned}"/>
		<property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}"/>
		
		<!-- 配置sql心跳：保证连接池中的连接是真实有效的连接
			 testWhileIdle testOnBorrow testOnReturn
			 validationQuery-select 1
		 -->
		<!-- 开启Evict的定时校验，循环校验 -->
		<property name="testWhileIdle" value="true"/>
		<!-- 定义Evict的时间间隔，单位：ms，大于0才会开启Evict -->
		<property name="timeBetweenEvictionRunsMillis" value="600000"/>
		<!-- 在进行borrowObject处理时，会对拿到的连接进行校验-false不校验 -->
		<property name="testOnBorrow" value="false"/>
		<!-- 在进行returnObject处理时，会对返回的连接进行校验-false不检验 -->
		<property name="testOnReturn" value="false"/>
		<!-- 校验使用的sql语句，一定不能太复杂，复杂的会影响性能 -->
		<property name="validationQuery" value="select 1"/>
		<!-- 配置每次校验连接的数量，一般等于maxActive -->
		<property name="numTestsPerEvictionRun" value="${maxActive}"/>
	</bean>
	
	<!-- 事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!-- 配置mybatis sqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>  
	
	<!-- AOP事务管理 -->
	<aop:aspectj-autoproxy/>
	<aop:config proxy-target-class="true">
		<aop:pointcut expression="execution(* *org.slsale.service..*(..))" id="transService"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="transService"/>
	</aop:config>
	
	<!-- txAdvice -->      
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="hl*" propagation="REQUIRED" rollback-for="Exception"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- mapper接口所在的包名，spring会自动查找其下的Mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.slsale.dao"/>
	</bean>
	
	<!-- redis -->
	
</beans>